<br><br>
  <% if @user %>
  <h1> These are <%=  @user.first_name %>s Employees </h1>
  <% end %>
<ol>
<% @employees.each do |employee| %>
    <li><%= link_to employee.first_name, employee %> <%= link_to employee.last_name %></li>
      
    <% end %>
</ol>