<br><br>
  <h1> These are <%= @user.first_name %>s Employees </h1>

<% @employees.each do |employee| %>
    <li><%= link_to employee.first_name, employee %></li>
       USER ID: <%= employee.user_id %>
    <% end %>
