<h1> Welcome <%= @user.firs_name %> </h1>

        <%= @user.firs_name %>
        <br>
        <%= @user.last_name  %>
        <br>
        <%= @user.username %>
        <br>
        <br><br>

<br><br>
